/* Animations */
/* =========================
   ANIMATION KEYFRAMES
========================= */

/* Fade In Up */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(80px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fade In Down */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fade In Left */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Fade In Right */
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(80px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Smooth Floating Pattern */
@keyframes floatPattern {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.fadeInUp {
  animation: fadeInUp 1s ease forwards;
}

.fadeInDown {
  animation: fadeInDown 1s ease forwards;
}

.fadeInLeft {
  animation: fadeInLeft 1s ease forwards;
}

.fadeInRight {
  animation: fadeInRight 1s ease forwards;
}

.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.5s;
}

.delay-3 {
  animation-delay: 0.8s;
}

.delay-4 {
  animation-delay: 1s;
}

.fadeInUp,
.fadeInDown,
.fadeInLeft,
.fadeInRight {
  opacity: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  display: inline-flex;
  align-items: center;
  border: 2px solid #222;
  border-radius: 60px;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 3px;
  transition: 0.4s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ece7e2;
  font-family: "Poppins", sans-serif;
}

/* Index */

/* NAVBAR */

.navbar {
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  width: max-content;
  background: #ece7e2;
  text-align: center;
  font-size: 15px;

  li {
    border-bottom: 1px solid #c2beba;
  }
}

.nav-item.dropdown .dropdown-menu {
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0;
}

.nav-link {
  text-align: center;
}

@media (max-width: 992px) {
  .nav-item.dropdown .dropdown-menu {
    left: 0%;
    transform: translateX(0%);
    margin-top: 0;
  }
}

@media (max-width: 991.98px) {
  .dropdown-menu {
    display: none;
  }

  .dropdown-menu.show {
    display: block;
  }
}

.logo-bg {
  background-color: #c1a78c;
  border-radius: 50px;
}

.logo {
  width: 40px;
  filter: brightness(0) invert(1);
}

.brand {
  font-family: "Cormorant Garamond", serif;
  font-size: 42px;
  margin-left: 10px;
  color: #ff0000;
}

.nav-link {
  color: #333;
  margin: 0 12px;
  font-size: 17px;
}

.book-btn {
  border: 1px solid #333;
  padding: 12px 32px;
  border-radius: 40px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

.book-btn:hover {
  background: #333;
  color: white;
}

/* HERO */

.hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.hero-text small {
  font-size: 20px;
  display: block;
  margin-bottom: 25px;
}

.hero-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 5rem;
  line-height: 1;
  margin-bottom: 30px;
  color: #222;
}

.hero-text p {
  max-width: 560px;
  line-height: 1.8;
  font-size: 20px;
  color: #444;
}

.start-btn {
  display: inline-block;
  margin-top: 40px;
  border: 1px solid #222;
  padding: 18px 45px;
  border-radius: 50px;
  color: #222;
  text-decoration: none;
}

/* IMAGE SIDE */

.hero-image {
  position: relative;
  display: flex;
  justify-content: center;
}

.circle-bg {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  z-index: 0;
  .img1 {
    z-index: 1;
    opacity: 0.9;
    top: -10%;
    right: -50%;
    width: 100%;
    animation: dotsRotate 60s linear infinite;
  }
}

.hero-image img {
  position: relative;
  z-index: 2;
  max-width: 100%;
  width: 650px;
}

/* RESPONSIVE */

@media (max-width: 992px) {
  .hero {
    text-align: center;
    padding-top: 50px;
  }

  .hero-title {
    font-size: 58px;
  }

  .hero-image {
    margin-top: 50px;
  }

  .circle-bg {
    width: 400px;
    height: 400px;
  }
  .navbar-nav {
    align-items: center;
  }
}

@media (max-width: 576px) {
  .hero-title {
    font-size: 42px;
  }

  .hero-text p {
    font-size: 16px;
  }

  .brand {
    font-size: 32px;
  }

  .circle-bg {
    width: 280px;
    height: 280px;
  }
}

/* =========================
   about SECTION
========================= */

.about-section {
  min-height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
  flex-direction: row;
  margin-bottom: 3rem;
}

/* =========================
   LEFT
========================= */

.about-left {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  width: 433px;
  height: -webkit-fill-available;
}

.dots {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 100px;
  left: 50%;
  background-image: url(assets/mandala/full-ring.png);
  background-size: cover;
  border-radius: 50%;
  opacity: 0.2;
  animation: dotsRotate 30s linear infinite;
}

@keyframes dotsRotate {
  from {
    transform: translateX(-50%) rotate(0deg);
  }

  to {
    transform: translateX(-50%) rotate(360deg);
  }
}

@keyframes dotsFloat {
  0%,
  100% {
    margin-top: 0;
  }

  50% {
    margin-top: -15px;
  }
}

.about-left img {
  position: relative;
  max-width: 100%;
  z-index: 2;
}

/* =========================
   CENTER CONTENT
========================= */

.about-content {
  flex: 1;
  max-width: 520px;
}

.about-content h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 3rem;
  line-height: 1.05;
  color: #222;
  margin-bottom: 10px;
}

.about-content p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 2;
  color: #555;
  margin-bottom: 0px;
  text-align: justify;
}

.schedule-btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  width: 280px;
  padding: 18px 35px;
  margin-top: 3rem;
  border: 1px solid #c1a78c;
  border-radius: 60px;

  text-decoration: none;
  color: #222;

  font-family: "Poppins", sans-serif;
  letter-spacing: 4px;
  font-size: 14px;

  transition: 0.3s;
}

.schedule-btn:hover {
  background: #d1b99b;
  color: #fff;
}

.stats {
  margin-top: 0px;
  display: flex;
  gap: 120px;
}

.stats h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 70px;
  color: #222;
  margin-bottom: 5px;
}

.stats span {
  font-family: "Cormorant Garamond", serif;
  font-size: 26px;
  color: #444;
}

/* =========================
   RIGHT
========================= */

.about-right {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-image {
  position: relative;
  width: 450px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-ring {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.outer-img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.sun-icon {
  position: absolute;
  top: -50px;
  right: 0;
  font-size: 80px;
  animation:
    dotsRotate 5s linear infinite,
    dotsFloat 0s ease-in-out infinite;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 1200px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }

  .about-content {
    max-width: 100%;
  }

  .stats {
    justify-content: center;
  }

  .circle-image {
    width: 500px;
    height: 500px;
  }

  .renew-card {
    left: -20px;
  }
}

@media (max-width: 768px) {
  .about-content h1 {
    font-size: 3.5rem;
  }

  .stats {
    gap: 40px;
  }

  .stats h2 {
    font-size: 50px;
  }

  .circle-image {
    width: 320px;
    height: 320px;
  }

  .renew-card {
    width: 100%;
    height: 120px;
    left: 0;
  }

  .renew-card h3 {
    font-size: 22px;
  }

  .about-left img {
    width: 320px;
  }

  .about-left {
    width: -webkit-fill-available;
  }

  .dots {
    height: 320px;
    width: 320px;
  }
}

/* pedagogy */

.pedagogy {
  min-height: calc(100vh - 90px);

  border-top: 2px solid #c1a78c;
}

.pedagogy-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}

.pedagogy-card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pedagogy-card:hover {
  transform: translateY(-10px);
}

.pedagogy-card img {
  width: 75%;

  height: 350px;

  object-fit: cover;

  transition: 0.4s ease;
}

.pedagogy-card:hover img {
  transform: scale(1.05);
}

.pedagogy-card-content {
  padding: 25px;
}

.heading {
  font-family: "Cormorant Garamond", serif;
  font-size: 3rem;
  line-height: 1.05;
  color: #ff0000;
  margin: 3rem;
  font-weight: bold;
  text-align: center;
}

.pedagogy-card-content h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
  line-height: 1.05;
  color: #222;
  margin-bottom: 10px;
  text-align: center;
}

.pedagogy-card-content p {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 2;
  color: #555;
  margin-bottom: 8px;
  text-align: justify;
}

@media (max-width: 768px) {
  .pedagogy-cards {
    grid-template-columns: 1fr;
  }

  .pedagogy-card img {
    height: 260px;
  }

  .pedagogy {
    margin: 0px;
  }
}
