/* Animations */
/* =========================
   ANIMATION KEYFRAMES
========================= */

/* Fade In Up */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(80px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fade In Down */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fade In Left */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Fade In Right */
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(80px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Smooth Floating Pattern */
@keyframes floatPattern {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.fadeInUp {
  animation: fadeInUp 1s ease forwards;
}

.fadeInDown {
  animation: fadeInDown 1s ease forwards;
}

.fadeInLeft {
  animation: fadeInLeft 1s ease forwards;
}

.fadeInRight {
  animation: fadeInRight 1s ease forwards;
}

.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.5s;
}

.delay-3 {
  animation-delay: 0.8s;
}

.delay-4 {
  animation-delay: 1s;
}

.fadeInUp,
.fadeInDown,
.fadeInLeft,
.fadeInRight {
  opacity: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  display: inline-flex;
  align-items: center;
  border: 2px solid #222;
  border-radius: 60px;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 3px;
  transition: 0.4s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ece7e2;
  font-family: "Poppins", sans-serif;
}

/* Index */

/* NAVBAR */

.navbar {
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  width: 200px;
  background: #ece7e2;
  text-align: center;
  font-size: 15px;

  li {
    border-bottom: 1px solid #c2beba;

    a {
      white-space: normal;
      overflow-wrap: anywhere;
    }
  }
}

.nav-item.dropdown .dropdown-menu {
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0;
}

.nav-link {
  text-align: center;
}

@media (max-width: 992px) {
  .nav-item.dropdown .dropdown-menu {
    left: 0%;
    transform: translateX(0%);
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

@media (max-width: 991.98px) {
  .dropdown-menu {
    display: none;
  }
}

.logo-bg {
  background-color: #c1a78c;
  border-radius: 50px;
}

.logo {
  width: 40px;
  filter: brightness(0) invert(1);
}

.brand {
  font-family: "Cormorant Garamond", serif;
  font-size: 42px;
  margin-left: 10px;
  color: #ff0000;
}

.nav-link {
  color: #333;
  margin: 0 12px;
  font-size: 17px;
}

.book-btn {
  border: 1px solid #333;
  padding: 12px 32px;
  border-radius: 40px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

.book-btn:hover {
  background: #333;
  color: white;
}

/* HERO */

.hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.hero-text small {
  font-size: 20px;
  display: block;
  margin-bottom: 25px;
}

.hero-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 5rem;
  line-height: 1;
  margin-bottom: 30px;
  color: #222;
}

.hero-text p {
  max-width: 560px;
  line-height: 1.8;
  font-size: 20px;
  color: #444;
}

.start-btn {
  display: inline-block;
  margin-top: 40px;
  border: 1px solid #222;
  padding: 18px 45px;
  border-radius: 50px;
  color: #222;
  text-decoration: none;
}

/* IMAGE SIDE */

.hero-image {
  position: relative;
  display: flex;
  justify-content: center;
}

.circle-bg {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  z-index: 0;
  .img1 {
    z-index: 1;
    opacity: 0.9;
    top: -10%;
    right: -50%;
    width: 100%;
    animation: dotsRotate 60s linear infinite;
  }
}

.hero-image img {
  position: relative;
  z-index: 2;
  max-width: 100%;
  width: 650px;
}

/* RESPONSIVE */

@media (max-width: 992px) {
  .hero {
    text-align: center;
    padding-top: 50px;
  }

  .hero-title {
    font-size: 58px;
  }

  .hero-image {
    margin-top: 50px;
  }

  .circle-bg {
    width: 400px;
    height: 400px;
  }
  .navbar-nav {
    align-items: center;
  }
}

@media (max-width: 576px) {
  .hero-title {
    font-size: 30px;
  }

  .hero-text p {
    font-size: 16px;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
  }

  .brand {
    font-size: 32px;
  }

  .circle-bg {
    width: 280px;
    height: 280px;
  }
}

/* =========================
   about SECTION
========================= */

.about-section {
  min-height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
  flex-direction: row;
  margin-bottom: 3rem;
}

/* =========================
   LEFT
========================= */

.about-left {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  width: 433px;
  height: -webkit-fill-available;
}

.dots {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 100px;
  left: 50%;
  background-image: url(assets/mandala/full-ring.png);
  background-size: cover;
  border-radius: 50%;
  opacity: 0.2;
  animation: dotsRotate 30s linear infinite;
}

@keyframes dotsRotate {
  from {
    transform: translateX(-50%) rotate(0deg);
  }

  to {
    transform: translateX(-50%) rotate(360deg);
  }
}

@keyframes dotsFloat {
  0%,
  100% {
    margin-top: 0;
  }

  50% {
    margin-top: -15px;
  }
}

.about-left img {
  position: relative;
  max-width: 100%;
  z-index: 2;
}

/* =========================
   CENTER CONTENT
========================= */

.about-content {
  flex: 1;
  max-width: 520px;
}

.about-content h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 3rem;
  line-height: 1.05;
  color: #222;
  margin-bottom: 10px;
}

.about-content p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 2;
  color: #555;
  margin-bottom: 0px;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.schedule-btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  width: 280px;
  padding: 18px 35px;
  margin-top: 3rem;
  border: 1px solid #c1a78c;
  border-radius: 60px;

  text-decoration: none;
  color: #222;

  font-family: "Poppins", sans-serif;
  letter-spacing: 4px;
  font-size: 14px;

  transition: 0.3s;
}

.schedule-btn:hover {
  background: #d1b99b;
  color: #fff;
}

.stats {
  margin-top: 0px;
  display: flex;
  gap: 120px;
}

.stats h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 70px;
  color: #222;
  margin-bottom: 5px;
}

.stats span {
  font-family: "Cormorant Garamond", serif;
  font-size: 26px;
  color: #444;
}

/* =========================
   RIGHT
========================= */

.about-right {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-image {
  position: relative;
  width: 450px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-ring {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.outer-img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.sun-icon {
  position: absolute;
  top: -50px;
  right: 0;
  font-size: 80px;
  animation:
    dotsRotate 5s linear infinite,
    dotsFloat 0s ease-in-out infinite;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 1200px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }

  .about-content {
    max-width: 100%;
  }

  .stats {
    justify-content: center;
  }

  .circle-image {
    width: 500px;
    height: 500px;
  }

  .renew-card {
    left: -20px;
  }
}

@media (max-width: 768px) {
  .about-content h1 {
    font-size: 2.5rem;
  }

  .stats {
    gap: 40px;
  }

  .stats h2 {
    font-size: 30px;
  }

  .circle-image {
    width: 320px;
    height: 320px;
  }

  .renew-card {
    width: 100%;
    height: 120px;
    left: 0;
  }

  .renew-card h3 {
    font-size: 22px;
  }

  .about-left img {
    width: 320px;
  }

  .about-left {
    width: -webkit-fill-available;
  }

  .dots {
    height: 320px;
    width: 320px;
  }
  .about-content p {
    font-size: 12px;
  }
}

/* pedagogy */

.pedagogy {
  min-height: calc(100vh - 90px);

  border-top: 2px solid #c1a78c;
}

.pedagogy-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}

.pedagogy-card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pedagogy-card:hover {
  transform: translateY(-10px);
}

.pedagogy-card img {
  width: 75%;

  height: 350px;

  object-fit: cover;

  transition: 0.4s ease;
}

.pedagogy-card:hover img {
  transform: scale(1.05);
}

.pedagogy-card-content {
  padding: 25px;
}

.heading {
  font-family: "Cormorant Garamond", serif;
  font-size: 3rem;
  line-height: 1.05;
  color: #ff0000;
  margin: 3rem;
  font-weight: bold;
  text-align: center;
}

.pedagogy-card-content h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
  line-height: 1.05;
  color: #222;
  margin-bottom: 10px;
  text-align: center;
}

.pedagogy-card-content p {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 2;
  color: #555;
  margin-bottom: 8px;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

@media (max-width: 768px) {
  .pedagogy-cards {
    grid-template-columns: 1fr;
  }

  .pedagogy-card img {
    height: 260px;
  }

  .pedagogy {
    margin: 0px;
  }
}

/* productions SECTION */

.productions-section {
  position: relative;
  overflow: hidden;
}

.productions-section::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url(/assets/mandala/full-ring.png) no-repeat center center;
  background-size: contain;
  opacity: 0.1;
  z-index: 0;
  top: 20%;
  left: 50%;
  animation: dotsRotate 30s linear infinite;
  width: 100%;
  height: auto;
}

.productions-section > * {
  position: relative;
  z-index: 1;
}

@keyframes floatHorizontal {
  0% {
    transform: translateX(-20px);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(-20px);
  }
}

.section-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 4rem;
  font-weight: 600;
  color: #2d2d2d;
  margin-bottom: 20px;
  text-align: center;
}

.sub-headings {
  font-family: "Cormorant Garamond";
  font-size: 2rem;
  font-weight: 600;
  color: #2d2d2d;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  margin: 5rem 0rem 3rem 0rem;
}

.sub-headings01 {
  font-family: "Cormorant Garamond";
  font-size: 1.7rem;
  font-weight: 600;
  color: #2d2d2d;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  margin: 1rem 0rem 1rem 0rem;
}

.productions-grid {
  display: flex;
  gap: 35px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
  scrollbar-width: none;
}

.production-card {
  flex: 0 0 calc((100% - 140px) / 4);
}

.production-img {
  position: relative;
  overflow: visible;
  border-radius: 18px;
  height: 380px;
  z-index: 2;
}

.img-frame {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  pointer-events: none;
  z-index: 2;
}

.production-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.4s;
  z-index: 1;
  border-radius: 15px;
}

.production-card:hover .production-img::after {
  opacity: 1;
}

.production-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
  z-index: 0;
}

.production-card:hover .inner-img {
  transform: scale(1);
}

.production-card h3 {
  margin-top: 25px;
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
  color: #333;
  text-align: center;
}

.productions-section p {
  margin-top: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  color: #666;
  letter-spacing: 0px;
  line-height: 2;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

/* Responsive */

@media (max-width: 1200px) {
  .productions-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .production-card {
    flex: 0 0 calc((100% - 60px) / 3);
  }
  .productions-section p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .section-title {
    font-size: 2.8rem;
  }

  .productions-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .production-img {
    height: 260px;
  }

  .production-card {
    flex: 0 0 calc((100% - 20px) / 2);
  }
  .production-card h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .productions-grid {
    grid-template-columns: 1fr;
  }

  .production-card {
    flex: 0 0 55%;
  }

  .production-img {
    height: 250px;
  }
}

.view-more {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 110px;
  height: 110px;

  border-radius: 50%;
  background: #c5ab8e;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #f8f8f8;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;

  transform: translate(-50%, -50%) scale(0.6);
  opacity: 0;
  transition: 0.4s;
  z-index: 2;
  font-family: "Courier New", Courier, monospace;
}

.production-card:hover .view-more {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.proddetails-section {
  position: relative;
}

.section-tag {
  display: inline-block;
  font-size: 25px;
  color: #444;
  margin-bottom: 0px;
  font-family: "Cormorant Garamond", serif;
}

.prod-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
  line-height: 1.1;
  color: #c5ab8a;
  margin-bottom: 5px;
}

.prod-desc {
  font-size: 12px;
  line-height: 1.9;
  color: #444;
  margin-bottom: 25px;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;

  p {
    margin: 0rem 1rem;
  }
}

.prod-qa {
  font-size: 14px;
  line-height: 1.9;
  color: #444;
  margin-bottom: 0;

  p {
    margin-bottom: 1.5rem;
  }
}

.benefits-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-bottom: 50px;
}

.benefit-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.benefit-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #c5ab8a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefit-icon img {
  width: 60px;
  filter: brightness(0) invert(1);
}

.benefit-item .span {
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  color: #444;
  display: flex;
  flex-direction: column;
}

.appointment-btn:hover {
  background: #c5ab8a;
  border-color: #c5ab8a;
  color: #fff;
}

.image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-circle {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  overflow: hidden;
  background: #efe8df;
  margin-top: 1rem;
}

.main-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play-btn {
  transform: translateY(-50%);
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: white;
  border: 1px solid #c5ab8a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  cursor: pointer;
  z-index: 2;
  animation: dotsRotate 30s linear infinite;
}

.credits-box {
  margin: 30px 0;
  padding: 25px;
  background: #faf7f2;
  border-left: 4px solid #c5ab8a;
  border-radius: 12px;
}

.credits-box h4 {
  font-family: "Cormorant Garamond", serif;
  font-size: 34px;
  color: #c5ab8a;
  margin-bottom: 20px;
}

.credit-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(197, 171, 138, 0.2);
}

.credit-row:last-child {
  border-bottom: none;
}

.credit-row span {
  color: #666;
  font-size: 14px;
  flex: 1;
}

.credit-row strong {
  color: #222;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  flex: 1;
}

@media (max-width: 768px) {
  .credit-row {
    flex-direction: column;
    gap: 4px;
  }

  .credit-row strong {
    text-align: left;
  }
}

@media (max-width: 991px) {
  .prod-title {
    font-size: 52px;
  }

  .main-circle {
    width: 450px;
    height: 450px;
    margin-top: 60px;
  }

  .play-btn {
    width: 100px;
    height: 100px;
    left: 20px;
  }
}

@media (max-width: 576px) {
  .prod-title {
    font-size: 40px;
  }

  .benefits-grid {
    grid-template-columns: 1fr;
  }

  .main-circle {
    width: 320px;
    height: 320px;
  }
}

.prodgallery-section {
  padding: 80px 0;
  overflow: hidden;
}

.gallery-row {
  overflow: hidden;
  position: relative;
  cursor: grab;
}

.gallery-track {
  display: flex;
  gap: 20px;
  width: max-content;
  user-select: none;
  -webkit-user-drag: none;
  cursor: grab;
  will-change: transform;
}

.gallery-track.paused {
  animation-play-state: paused;
}

.gallery-track img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 150px;
  flex-shrink: 0;
  transition: all 0.4s ease;
  pointer-events: auto;
  user-select: none;
  -webkit-user-drag: none;
}

.gallery-track img:hover {
  transform: scale(1.08);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  border-left: 7px solid #c5ab8a;
}

.gallery-item {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 150px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}

.gallery-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("assets/mandala/full-ring.jpg") center/cover no-repeat;
  opacity: 0;
  transition: 0.4s ease;
  z-index: 1;
}

.gallery-item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 3px;
  opacity: 0;
  transition: 0.4s ease;
  z-index: 2;
}

.gallery-item:hover::before {
  opacity: 1;
}

.gallery-item:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.gallery-item:hover img {
  transform: scale(1.08);
}

.image-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.96);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;

  opacity: 0;
  visibility: hidden;
  transition: 0.35s ease;
}

.image-modal.active {
  opacity: 1;
  visibility: visible;
}

.image-modal img {
  max-width: 95vw;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 12px;
  transform: scale(0.9);
  transition: 0.35s ease;
}

.image-modal.active img {
  transform: scale(1);
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
  font-size: 55px;
  cursor: pointer;
  z-index: 100000;
  transition: 0.3s;
}

.close-modal:hover {
  transform: rotate(90deg);
  color: #c5ab8a;
}

.left-bull::after {
  content: "";
  background: url(/assets/mandala/full-ring.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: unset;
  z-index: -1;
  opacity: 0.05;
  animation: dotsRotate 150s linear infinite;
}
